@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;500;700;900&display=swap');

:root {
  --primary-color: hsl(300, 43%, 33%);
  --secondary-color: hsl(333, 80%, 67%);
  --dark-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'League Spartan', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

body::after {
  content: '';
  background-image: url(./images/bg-pattern-top-desktop.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  padding: 0 24px 0;
}

header .hero h1 {
  font-size: 2.8em;
  line-height: 0.8em;
  margin-top: 90px;
  color: var(--primary-color);
  font-weight: 700;
  padding: 0 32px 0;
}

header .hero-text {
  color: var(--dark-magenta);
  margin-top: 24px;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 24px;
}

.s-cards {
  display: grid;
  gap: 24px;
  margin-bottom: 64px;
}

.s-cards .s-card h2 {
  color: var(--primary-color);
  margin-top: 12px;
  font-size: 1.3em;
}

.s-cards .s-card {
  background-color: var(--light-magenta);
  border-radius: 10px;
  padding: 16px;
}

.s-cards .s-card .star-container {
  display: flex;
  justify-content: center;
}

.s-cards .s-card .star-container .star {
  background-image: url('./images/icon-star.svg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  height: 20px;
  width: 20px;
  margin: 8px;
}

.l-cards {
  display: grid;
  gap: 24px;
}

.l-cards .l-card {
  background-color: var(--primary-color);
  padding: 42px 32px 42px 32px;
  border-radius: 10px;
}

.l-cards .l-card img {
  border-radius: 50%;
  height: 50px;
  margin-right: 24px;
}

.l-cards .l-card .l-card-info div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.l-cards .l-card .l-card-info h3 {
  color: #fff;
  margin-bottom: 4px;
  font-size: 1.5em;
}

.l-cards .l-card .l-card-info h4 {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.4em;
}

.l-cards .l-card p {
  font-size: 1em;
  color: #fff;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 24px;
  line-height: 1.4em;
}

.l-cards .l-card .l-card-info {
  display: flex;
  align-items: center;
}

@media (min-width: 1440px) {
  .container {
    width: 90%;
    margin: auto;
    margin-top: 150px;
  }

  body::before {
    content: ' ';
    background: url(./images/bg-pattern-top-desktop.svg) no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24px;
  }

  header .hero h1 {
    font-size: 4em;
    margin-top: 0px;
    font-weight: 700;
    width: 60%;
    text-align: left;
    padding: 0;
    margin-bottom: 32px;
  }

  header .hero-text {
    margin-top: 24px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 24px;
    text-align: left;
    width: 70%;
  }

  .s-cards .s-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .s-card:nth-of-type(1) {
    margin-right: 80px;
  }

  .s-card:nth-of-type(2) {
    margin-left: 40px;
    margin-right: 40px;
  }

  .s-card:nth-of-type(3) {
    margin-left: 80px;
  }

  .s-cards .s-card h2 {
    margin-top: 0;
    margin-left: 24px;
  }

  .s-cards .s-card .star-container {
    padding-left: 24px;
  }

  .l-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    gap: 40px;
  }

  .l-cards .l-card p {
    font-size: 1.5em;
    font-weight: 400;
  }

  .l-cards .l-card:nth-of-type(1) {
    margin-bottom: 40px;
  }

  .l-cards .l-card:nth-of-type(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .l-cards .l-card:nth-of-type(3) {
    margin-top: 40px;
  }
}
